<section id="competition" class="max-container ">


  <h2 #trackView [ngClass]="{'slide-top': isInView[0], 'slide-top-pre': !isInView[0]}" class="heading-text text-left lg:text-center">
    <span class="text-logo-yellow">Cibalae</span>
    Open
    <span class="text-logo-yellow">Kup</span>
     2025
  </h2>
  <div class="flex flex-col lg:flex-row justify-between items-start gap-4 mt-24">
    <div class="flex-1">
      <h3 #trackView [ngClass]="{'slide-right': isInView[1], 'slide-right-pre': !isInView[1]}" class="text-2xl font-semibold font-palanquin leading-3">
        {{"comp.h1" | translate}}
      </h3>
      <p #trackView [ngClass]="{'slide-top': isInView[2], 'slide-top-pre': !isInView[2]}" class="info-text font-montserrat leading-normal max-w-md mt-4 lg:mt-8">
        {{"comp.p" | translate}}
      </p>

      <div #trackView [ngClass]="{'slide-top': isInView[3], 'slide-top-pre': !isInView[3]}" class="flex flex-row justify-start items-center gap-4 flex-wrap mt-4">
        <img class="icon icon--xl" src="/assets/images/icons/germany.svg" alt="GERMANY">
        <img class="icon icon--xl" src="/assets/images/icons/france.svg" alt="FRANCE">
        <img class="icon icon--xl" src="/assets/images/icons/hungary.svg" alt="HUNGARY">
        <img class="icon icon--xl" src="/assets/images/icons/slovenia.svg" alt="SLOVENIA">
      </div>

      <div #trackView [ngClass]="{'slide-top': isInView[3], 'slide-top-pre': !isInView[3]}" class="flex flex-row justify-start items-center gap-4 flex-wrap mt-4">
        <img class="icon icon--xl" src="/assets/images/icons/serbia.svg" alt="SERBIA">
        <img class="icon icon--xl" src="/assets/images/icons/bulgaria.svg" alt="BULGARIA">
        <img class="icon icon--xl" src="/assets/images/icons/greece.svg" alt="GREECE">
        <img class="icon icon--xl" src="/assets/images/icons/croatia.svg" alt="CROATIA">
      </div>

      <a href="https://www.instagram.com/plk.galacticos/" target="_blank"
        class="">
        <button #trackView [ngClass]="{'slide-right': isInView[4], 'slide-right-pre': !isInView[4]}" class="btn-primary py-3 mt-8 icon-text-aligner min-md:my-2">
          <img class="icon icon--lg" src="/assets/images/icons/ig-white.svg" alt="INSTAGRAM">
          <p class="text-xl font-semibold">{{"comp.btn" | translate}}</p>
        </button>
      </a>
    </div>
    <div class="flex-1 w-full">
      <h3 #trackView [ngClass]="{'slide-left': isInView[5], 'slide-left-pre': !isInView[5]}" class="text-2xl font-semibold font-palanquin leading-3 mb-8 mt-24 lg:mt-0">
        {{"comp.h2" | translate}}
      </h3>
      <iframe  #trackView [ngClass]="{'scale-up-bottom': isInView[6], 'scale-up-bottom-pre': !isInView[6]}"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2806.698479927844!2d18.790913875918918!3d45.294314344758305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475c8ae094d7cb09%3A0x2df59e6296b69211!2sElementary%20school%20Antun%20Gustav%20Matos!5e0!3m2!1sen!2shr!4v1730482835010!5m2!1sen!2shr"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
              class="rounded-md w-full h-72 md:h-96 lg:h-[450px]"
              title="Cibalae Open Kup Google Maps Location">
      </iframe>
    </div>
  </div>
</section>
