<!-- <div class="d-flex flex-row text-center justify-content-center  main bg-white">
  <h1 class="text-center">Galacticosi</h1>
</div> -->

<main id="members" class="px-4 py-8 lg:px-16 lg:pb-32 pt-44 bg-logo-black text-white">
  <div *ngIf="currentMember" class="flex flex-col justify-center items-center max-container">
    <div>
      <h1 class="heading-text">Galactico</h1>
    </div>

    <div class="flex flex-col xl:flex-row justify-center items-start gap-16 mt-16">
      <div class="flex flex-col gap-8 flex-1">
        <h2 class="font-palanquin font-bold text-3xl xl:text-4xl">{{currentMember.name}}  <span *ngIf="currentMember.nickname ">({{nickname$ | async}})</span></h2>
        <div class="data flex flex-col justify-start items-start gap-3">
          <div class="flex flex-row justify-start gap-4">
            <p class="pill">{{currentMember.weight}} kg</p>
            <p class="pill">{{category$ | async}}</p>
          </div>
          <div class="flex flex-row justify-start gap-3">
            <div class="flex flex-row">
              <img class="icon icon--md mr-2" src="/assets/images/icons/medal.svg" alt="MEDAL">
              <p>{{currentMember.years_competing}} {{"members.years" | translate}}</p>
            </div>
            <div *ngIf="currentMember.records > 0" class="flex flex-row">
              <img class="icon icon--md mr-2" src="/assets/images/icons/trophy-yellow.svg" alt="TROPHY">
              <p>{{currentMember.records}} {{"members.records" | translate}}</p>
            </div>
          </div>
          <div class="flex flex-row justify-start gap-2">
            <a href="{{currentMember.ig}}" target="_blank"><img class="icon icon--lg sm" src="/assets/images/icons/ig-white.svg" alt="IG"></a>
            <a href="{{currentMember.ipf}}" target="_blank"><img class="icon icon--lg sm" src="/assets/images/icons/trophy.svg" alt="TROPHY"></a>
          </div>
          <p class="mt-4 max-w-lg" [innerHTML]="description$ | async"></p>
        </div>
      </div>
      <div *ngIf="currentMember.imgUrl" class="w-full flex flex-row justify-center items-center flex-1">
        <img class="object-cover w-full max-w-2xl max-h-[60vh] mx-auto rounded-md" src="{{currentMember.imgUrl}}" alt="Photo of a member">
      </div>
    </div>

    <div class="mt-28 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-20">
      <div *ngFor="let member of allMembers; let i = index" (click)="setCurrentMember(i)">
        <app-member-card [member]="member" [isCurrent]="currentMember == member"></app-member-card>
      </div>
    </div>
  </div>


</main>

<!-- <div class="d-flex flex-row justify-content-center flex-wrap main">

  <div class = "card">
    <img class="card-bg" src="/assets/images/members/kuzma.jpg" alt="">
    <div class="card-content">
      <h2>
        Marko Kuzmić
      </h2>
      <div class="data d-flex flex-column justify-content-start">
        <div class="d-flex flex-row justify-content-start">
          <p class="pill">83 kg</p>
          <p class="pill">Junior</p>
        </div>
        <div class="d-flex flex-row justify-content-start">
          <div class="d-flex flex-row">
            <img class="icon icon--md" src="/assets/images/icons/medal.svg" alt="MEDAL">
            <p>4 medalja</p>
          </div>
          <div class="d-flex flex-row">
            <img class="icon icon--md" src="/assets/images/icons/trophy-yellow.svg" alt="TROPHY">
            <p>8 rekorda</p>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-start">
          <img class="icon icon--lg sm" src="/assets/images/icons/ig-purple.svg" alt="IG">
          <img class="icon icon--lg sm" src="/assets/images/icons/trophy-purple.svg" alt="TROPHY">
        </div>
      </div>
    </div>
  </div>

  <div class = "card">
    <img src="/assets/images/members/lokas.png" alt="">
    <div class="card-content">
      <h2>
        Ivan Lokas
      </h2>
      <div class="data d-flex flex-column justify-content-start">
        <div class="d-flex flex-row justify-content-start">
          <p class="pill">83 kg</p>
          <p class="pill">Junior</p>
        </div>
        <div class="d-flex flex-row justify-content-start">
          <div class="d-flex flex-row">
            <img class="icon icon--md" src="/assets/images/icons/medal.svg" alt="MEDAL">
            <p>4 medalja</p>
          </div>
          <div class="d-flex flex-row">
            <img class="icon icon--md" src="/assets/images/icons/trophy-yellow.svg" alt="TROPHY">
            <p>8 rekorda</p>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-start">
          <img class="icon icon--lg sm" src="/assets/images/icons/ig-purple.svg" alt="IG">
          <img class="icon icon--lg sm" src="/assets/images/icons/trophy-purple.svg" alt="TROPHY">
        </div>
      </div>
      <a href="#" class="button">
        Find out more
        <span class="material-symbols-outlined">
          arrow_right_alt
        </span>
      </a>
    </div>
  </div>

</div> -->



<!-- link na openipf
ig
medalje, rekordi, kilaza, kategorija
sudac -->
