<!-- <div id="particles-js" class="particles-background">
  <canvas class="particles-js-canvas-el" style="width: 100%; height: 100vh;">
  </canvas>
</div> -->

<!-- <div class="hero text-center">
  <img class="hero-logo slide-top" src="/assets/images/logo/plk-galacticos-logo.svg" alt="LOGO">
  <h1 class="hero-text slide-top font-secondary">&bdquo;{{'Klub iznad svega' | uppercase}}&#8223;</h1>
</div> -->

<main>
  <!-- <section class="padding lg:mt-12 bg-logo-black bg-hero bg-center bg-cover bg-no-repeat relative h-screen">
     <app-hero></app-hero>
  </section> -->

  <section class="px-4 lg:py-16 bg-logo-black text-white">
    <app-hero></app-hero>
  </section>


  <!-- <section class="padding-xs bg-logo-black text-white">
    <app-sponsors></app-sponsors>
  </section> -->

  <section class="bg-logo-black text-white overflow-hidden">
    <app-story></app-story>
  </section>

  <section class="bg-logo-purple text-white overflow-hidden">
    <app-mission></app-mission>
  </section>

  <section class="bg-logo-black text-white overflow-hidden">
    <app-vision></app-vision>
  </section>

  <section class="padding bg-navbar-gray text-black">
    <app-values></app-values>
  </section>

  <!-- <section class="relative w-full h-full overflow-hidden">
      <video class="absolute top-0 bottom-0 left-0 right-0  min-w-full min-h-full w-full h-full object-cover"
      autoplay muted loop playsinline>
      <source src="/assets/videos/Vinkovic.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video> -->
  <section id="competition" class="padding bg-logo-black text-white bg-grad">

    <app-competition></app-competition>
  </section>

  <section id="faq" class="bg-logo-black text-white">
    <app-faq></app-faq>
  </section>

  <section id="join" class="relative bg-group bg-top bg-cover bg-no-repeat min-h-[95vh]">
      <app-join></app-join>
  </section>

</main>

<!-- DATA -->

<!-- <div class="container-fluid data-list">
    <div class="row flex-column flex-md-row data-row">
        <div class="col d-flex justify-content-md-center justify-content-start align-items-center data-item">
          <img class="icon icon--xxl" src="/assets/images/icons/trophy.svg" alt="WAREHOUSE">
          <div class="flex-column justify-content-start data-text">
            <h2 class="d-flex"><app-counter [targetValue]="86" class="pad-right--xxs"></app-counter></h2>
            <h4>Oborenih rekorda</h4>
          </div>
        </div>

        <div class="col d-flex justify-content-md-center justify-content-start align-items-center data-item">
          <img class="icon icon--xxl" src="/assets/images/icons/medal-white.svg" alt="OPEN ROOM">
          <div class="flex-column data-text">
            <h2 class="d-flex align-self-start"><app-counter [targetValue]="120" class="pad-right--xxs"></app-counter></h2>
            <h4>Medalja</h4>
          </div>
        </div>

        <div class="col d-flex justify-content-md-center justify-content-start align-items-center data-item">
          <img class="icon icon--xxl" src="/assets/images/icons/globe.svg" alt="TRUCK">
          <div class="flex-column data-text">
            <h2 class="d-flex"><app-counter [targetValue]="2"></app-counter></h2>
            <h4>Internacionalnih natjecatelja</h4>
          </div>
        </div>
    </div>
</div> -->
