@import '../../../assets/styles/animations.scss';
@import '../../../assets/styles/layout.scss';

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  z-index: -1;
}

.particles-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 100vh;

  background-color: #ddd;
  overflow: hidden;
}

.hero {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  width: 60%;
  height: auto;
  animation-delay: 0.5s;
}

.hero-text {
  font-weight: 700;
  margin-top: var(--space-md);
  animation-delay: 0.5s;
  color: var(--color-purple-main);
}


// DATA

.data-list {
  background-color: var(--color-black-main);
  color: var(--color-text-secondary);
  padding: var(--space-xxl) var(--space-md);
}

// .data-item {
//   flex: 0 0 30%;
//   gap: var(--space-md);
//   align-items: flex-start;
//   height: 100%;
// }

// .data-item .icon {
//   width: auto;
//   height: 96px;
// }

// .data-text {
//   transform: translateY(0.45rem);
// }

// .data-text h2{
//   padding-bottom: var(--space-xxs);
// }

// .data-text h4 {
//   max-width: 16rem;
// }

.data-item {
  gap: var(--space-md);
}

.data-row {
  gap: var(--space-lg);
}

@media only screen and (max-width: 768px) {
  .hero-logo {
    width: 95%;
    height: auto;
    animation-delay: 0.5s;
  }
}


@media only screen and (max-width: 640px) {
  .data-list {
    row-gap: 4rem;
  }

  .data-item h2, .data-item h5{
    line-height: 2.5rem !important;
  }

  .data-item h4 {
    line-height: 1.5rem;
  }

  .data-item .icon {
    width: 60px;
    height: auto;
  }

  .data-text {
    font-weight: 600;
    transform: translateY(-2px);
  }

  .data-text h2{
    padding-bottom: 0px;
  }
}





