<footer class="pb-0 text-lg font-medium tracking-wide text-logo-white">
    <div class="flex lg:flex-row flex-col items-center justify-evenly gap-8 border-b-2 border-logo-yellow pb-4 py-0 lg:mx-16">
      <swal
      #joinSwal
      title='{{"swal.h" | translate}}'
      html='<p class="text-left">{{"swal.p" | translate}}</p>
      <div class="mt-4 mb-4">
        <ul class="list-disc ml-5">
          <li class="text-left">{{"swal.l11" | translate}}
            <a href="{{"swal.a" | translate}}" target="_blank" class="text-blue-500 hover:underline">
              {{"swal.l12" | translate}}.
            </a>
          </li>
          <li class="text-left">{{"swal.l21" | translate}}
            <a href="https://www.instagram.com/plk.galacticos/" target="_blank" class="text-blue-500 hover:underline">
              Instagram.
            </a>
            {{"swal.l22" | translate}}
          </li>
        </ul>
      </div>'
      icon="info"
      confirmButtonText="Ide gas"
      >
    </swal>
      <div class="xl:min-w-[400px] flex flex-row justify-center items-center">
        <a routerLink="/"><img class="w-80 h-auto" src="/assets/images/logo/plk-galacticos-logo-bright.png" alt="Powerlifting klub Galacticos logo"></a>
      </div>

      <div class="w-full lg:w-fit flex flex-col md:flex-row flex-wrap justify-start md:justify-center lg:justify-between items-start gap-16">

        <div>
          <h2 class="font-semibold text-xl mb-8">{{"footer.h1" | translate}}</h2>
          <ul class="flex flex-col justify-start align-top gap-3">
            <li><a routerLink="/" class="link">{{"footer.l11" | translate}}</a></li>
            <li><a routerLink="/members" class="link">{{"footer.l12" | translate}}</a></li>
            <li [swal]="joinSwal"><a routerLink="/register" class="link">{{"footer.l13" | translate}}</a></li>
          </ul>
        </div>

        <div class="flex flex-col items-start justify-between lg:gap-64 gap-10">
          <div class="flex flex-col items-start">
           <h2 class="font-semibold text-xl mb-8">{{"footer.h2" | translate}}</h2>
             <div class="cursor-pointer">
               <a class="icon-text-aligner" href="https://drive.google.com/file/d/16YUQ_Z4-4CFqka4kyYpcMGQHbenAAczY/view?usp=sharing" target="_blank">
                 <img class="icon icon--lg" src="/assets/images/icons/pdf.svg" alt="PDF icon">
                 <p class="link">{{"footer.l21" | translate}}</p>
               </a>
             </div>
          </div>
        </div>

        <div class="flex flex-col justify-center items-start gap-8">
          <h2 class="font-semibold text-xl">{{"footer.h3" | translate}}</h2>
          <div class="flex flex-row justify-center items-center gap-8">
            <a href="https://www.instagram.com/plk.galacticos/" target="_blank"><img class="icon icon--xl" src="/assets/images/icons/ig-white.svg" alt="Instagram white icon"></a>
            <a href="https://www.tiktok.com/@plk.galacticos" target="_blank"><img class="icon icon--xl" src="/assets/images/icons/tt-white.svg" alt="Tik Tok white icon"></a>
            <a href="https://www.youtube.com/@PLKGalacticos" target="_blank"><img class="icon icon--xl" src="/assets/images/icons/yt-white.svg" alt="YouTube white icon"></a>
          </div>
          <div class="icon-text-aligner">
            <a href="mailto:info@plkgalacticos.hr">
              <img class="icon icon--xl pr-2" src="/assets/images/icons/mail-white.svg" alt="Mail white icon">
              info&#64;plkgalacticos.hr
            </a>
          </div>
        </div>

      </div>
    </div>

    <div>
      <div class="w-full max-container flex flex-row justify-center items-center gap-4 mt-4">
        <a href="https://www.powerlifting.sport/" target="_blank"><img class="w-24 h-auto" src="/assets/images/footer/ipf_logo.png" alt="Internation Powerligting Federation logo"></a>
        <a href="https://www.europowerlifting.org/" target="_blank"><img class="w-24 h-auto" src="/assets/images/footer/epf_logo.png" alt="European Powerlifting Federation logo"></a>
        <a href="https://www.hpls-powerlifting.hr/" target="_blank"><img class="w-24 h-auto rounded-md" src="/assets/images/footer/hpls_logo_t.png" alt="Croatian Powerlifting Federation logo"></a>
      </div>

      <div class="w-full flex flex-col md:flex-row justify-end items-center gap-4 md:gap-12 mt-8 text-sm">
        <p>WebDesign by Patrick&Petar</p>
        <p>© 2024 PLKGalacticos. {{"footer.copy" | translate}} </p>
      </div>
    </div>


</footer>
