<section id="join" class="padding before-opac w-full min-h-[95vh] flex flex-col justify-center items-center gap-16">
    <h2 #trackView [ngClass]="{'slide-top': isInView[0], 'slide-top-pre': !isInView[0]}" class="z-10 heading-text text-center">
      {{"join.h1" | translate}}
      <span class="text-logo-yellow">{{"join.h2" | translate}}</span>
      {{"join.h3" | translate}}
    </h2>
    <p #trackView [ngClass]="{'slide-top': isInView[1], 'slide-top-pre': !isInView[1]}" class="z-10 text-xl lg:text-3xl font-semibold font-montserrat leading-normal text-center">
      {{"join.p" | translate}}
    </p>
    <button #trackView [ngClass]="{'scale-in-center': isInView[2], 'scale-in-center-pre': !isInView[2]}"
      [swal]="joinSwal"
      class="z-10 btn-primary px-10 py-3 text-lg lg:text-2xl font-semibold">
      {{"join.btn" | translate}}
    </button>
</section>

<swal
#joinSwal
title='{{"swal.h" | translate}}'
html='<p class="text-left">{{"swal.p" | translate}}</p>
<div class="mt-4 mb-4">
  <ul class="list-disc ml-5">
    <li class="text-left">{{"swal.l11" | translate}}
      <a href="{{"swal.a" | translate}}" target="_blank" class="text-blue-500 hover:underline">
        {{"swal.l12" | translate}}.
      </a>
    </li>
    <li class="text-left">{{"swal.l21" | translate}}
      <a href="https://www.instagram.com/plk.galacticos/" target="_blank" class="text-blue-500 hover:underline">
        Instagram.
      </a>
      {{"swal.l22" | translate}}
    </li>
  </ul>
</div>'
icon="info"
confirmButtonText="Ide gas"
>
</swal>
