<div>
  <div class="flex flex-row items-center justify-center gap-4 max-w-xl mx-auto">
    <div class="flex-1 h-[2px] bg-logo-yellow w-full"></div>
    <span class="text-xl lg:text-3xl">SPONSORED BY</span>
    <div class="flex-1 h-[2px] bg-logo-yellow w-full"></div>
  </div>

  <div class="flex flex-row justify-center items-center gap-8 mt-2">
    <img class="w-28" src="/assets/images/footer/ipf_logo.png" alt="IPF_LOGO">
    <img class="w-28" src="/assets/images/footer/epf_logo.png" alt="EPF_LOGO">
    <img class="w-36 rounded-sm" src="/assets/images/sponsors/tti-logo.png" alt="TTI-GROUP">
  </div>
</div>
