<section class="max-container padding max-w-6xl flex flex-col justify-start items-start gap-12">
  <h2 #trackView [ngClass]="{'slide-top': isInView[0], 'slide-top-pre': !isInView[0]}"  class="heading-text text-left md:text-center w-full">
    {{"faq.h1" | translate}}
    <span class="text-logo-yellow">{{"faq.h2" | translate}}</span>
    {{"faq.h3" | translate}}
  </h2>

  <div class="w-full">
    <div #trackView [ngClass]="{'slide-top': isInView[1], 'slide-top-pre': !isInView[1]}" >
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(1)">
        <img [ngClass]="{'rotate-90': isActive[1]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q1" | translate}}</h2>
      </div>
      <p [class.active]="isActive[1]" class="hidden">
        {{"faq.a1" | translate}}
      </p>
    </div>


    <div #trackView [ngClass]="{'slide-top': isInView[2], 'slide-top-pre': !isInView[2]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(2)">
        <img [ngClass]="{'rotate-90': isActive[2]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q2" | translate}}</h2>
      </div>
      <p [class.active]="isActive[2]" class="hidden">
        {{"faq.a2" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-top': isInView[3], 'slide-top-pre': !isInView[3]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(3)">
        <img [ngClass]="{'rotate-90': isActive[3]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q3" | translate}}</h2>
      </div>
      <p [class.active]="isActive[3]" class="hidden">
        {{"faq.a3" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-top': isInView[4], 'slide-top-pre': !isInView[4]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(4)">
        <img [ngClass]="{'rotate-90': isActive[4]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q4" | translate}}</h2>
      </div>
      <p [class.active]="isActive[4]" class="hidden">
        {{"faq.a4" | translate}}
      </p>
    </div>

     <div #trackView [ngClass]="{'slide-top': isInView[5], 'slide-top-pre': !isInView[5]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(5)">
        <img [ngClass]="{'rotate-90': isActive[5]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q5" | translate}}</h2>
      </div>
      <p [class.active]="isActive[5]" class="hidden">
        {{"faq.a5" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-top': isInView[6], 'slide-top-pre': !isInView[6]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(6)">
        <img [ngClass]="{'rotate-90': isActive[6]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q6" | translate}}</h2>
      </div>
      <p [class.active]="isActive[6]" class="hidden">
        {{"faq.a6" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-top': isInView[7], 'slide-top-pre': !isInView[7]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(7)">
        <img [ngClass]="{'rotate-90': isActive[7]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q7" | translate}}</h2>
      </div>
      <p [class.active]="isActive[7]" class="hidden" [innerHTML]="'faq.a7' | translate">
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-top': isInView[8], 'slide-top-pre': !isInView[8]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(8)">
        <img [ngClass]="{'rotate-90': isActive[8]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q8" | translate}}</h2>
      </div>
      <p [class.active]="isActive[8]" class="hidden" [innerHTML]="'faq.a8' | translate">
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-top': isInView[9], 'slide-top-pre': !isInView[9]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(9)">
        <img [ngClass]="{'rotate-90': isActive[9]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q9" | translate}}</h2>
      </div>
      <p [class.active]="isActive[9]" class="hidden">
        {{"faq.a9" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-top': isInView[10], 'slide-top-pre': !isInView[10]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(10)">
        <img [ngClass]="{'rotate-90': isActive[10]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q10" | translate}}</h2>
      </div>
      <p [class.active]="isActive[10]" class="hidden">
        {{"faq.a10" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-top': isInView[11], 'slide-top-pre': !isInView[11]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(11)">
        <img [ngClass]="{'rotate-90': isActive[11]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q11" | translate}}</h2>
      </div>
      <p [class.active]="isActive[11]" class="hidden">
        {{"faq.a11" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-top': isInView[12], 'slide-top-pre': !isInView[12]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(12)">
        <img [ngClass]="{'rotate-90': isActive[12]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q12" | translate}}</h2>
      </div>
      <p [class.active]="isActive[12]" class="hidden">
        {{"faq.a12" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-top': isInView[13], 'slide-top-pre': !isInView[13]}" class="mt-6 pt-4 w-full border-t-2 border-logo-white">
      <div class="flex flex-row justify-start items-center gap-4 cursor-pointer"
        (click)="toggleClass(13)">
        <img [ngClass]="{'rotate-90': isActive[13]}" class="icon icon--md" src="/assets/images/icons/arrow-right.svg" alt="ARROW">
        <h2 class="font-semibold text-xl">{{"faq.q13" | translate}}</h2>
      </div>
      <p [class.active]="isActive[13]" class="hidden" [innerHTML]=''>
        {{"faq.a13" | translate}}
        <a class="text-logo-yellow" routerLink="['']" fragment="join">{{"faq.a132" | translate}}</a>
        {{"faq.a133" | translate}}
      </p>
    </div>
  </div>
</section>
