<section class="flex flex-col justify-center items-center gap-12">
  <h2 #trackView [ngClass]="{'slide-top': isInView[0], 'slide-top-pre': !isInView[0]}" class="heading-text leading-3">
    {{"values.our" | translate}}
    <span class="text-logo-purple">{{"values.h" | translate}}</span>
  </h2>
  <div class="grid sm:grid-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-12">

    <div #trackView [ngClass]="{'slide-right': isInView[1], 'slide-right-pre': !isInView[1]}" class="max-w-sm bg-logo-purple text-white px-4 py-8 rounded-md">
      <div class=" flex justify-start items-center">
        <img class="bg-logo-white rounded-full flex justify-center items-center p-2 w-12" src="/assets/images/icons/muscle.svg" alt="Arm flexing muscle representing strenght">
      </div>
      <h2 class="card-heading text-3xl font-bold font-palanquin leading-normal mt-3">
        {{"values.h1" | translate}}
      </h2>
      <p class="info-text mt-3">
        {{"values.p1" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-left': isInView[2], 'slide-left-pre': !isInView[2]}" class="max-w-sm bg-logo-purple text-white px-4 py-8 rounded-md">
      <div class="flex justify-start items-center">
        <img class="bg-logo-white rounded-full flex justify-center items-center p-2 w-12" src="/assets/images/icons/community.svg" alt="Group of people representing a community">
      </div>
      <h2 class="card-heading text-3xl font-bold font-palanquin leading-normal mt-3">
        {{"values.h2" | translate}}
      </h2>
      <p class="info-text mt-3">
        {{"values.p2" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-right': isInView[3], 'slide-right-pre': !isInView[3]}" class="max-w-sm bg-logo-purple text-white px-4 py-8 rounded-md">
      <div class="flex justify-start items-center">
        <img class="bg-logo-white rounded-full flex justify-center items-center p-2 w-12" src="/assets/images/icons/handshake.svg" alt="Handskake representing sportsmanship">
      </div>
      <h2 class="card-heading text-3xl font-bold font-palanquin leading-normal mt-3">
        {{"values.h3" | translate}}
      </h2>
      <p class="info-text mt-3">
        {{"values.p3" | translate}}
      </p>
    </div>

    <div #trackView [ngClass]="{'slide-left': isInView[4], 'slide-left-pre': !isInView[4]}" class="max-w-sm bg-logo-purple text-white px-4 py-8 rounded-md">
      <div class="flex justify-start items-center">
        <img class="bg-logo-white rounded-full flex justify-center items-center p-2 w-12" src="/assets/images/icons/heart.svg" alt="Heart representing health">
      </div>
      <h2 class="card-heading text-3xl font-bold font-palanquin leading-normal mt-3">
        {{"values.h4" | translate}}
      </h2>
      <p class="info-text mt-3">
        {{"values.p4" | translate}}
      </p>
    </div>
  </div>
</section>
