@import '../../../assets/styles/layout.scss';

.navbar {
  background-color: rgba(239, 239, 239, 1);
  // background-color: rgba(239, 239, 239, 0.95);
  // backdrop-filter: blur(2px);
  // -webkit-backdrop-filter: blur(8px);
}

.nav-logo img{
  width: 120px;
  height: auto;
}

.nav-link a:hover {
  color: var(--color-yellow-main);
}

// BURGER

.burger {
  cursor: pointer;
  position: absolute;
  right: 1rem;

  div {
    width: 18px;
    height: 3px;
    background-color: var(--color-purple-main);
    margin: 4px;

    transition: all 0.3s ease;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}


// MOBILE

.navbar-mobile {
  background-color: rgba(239, 239, 239, 1);
  // background-color: rgba(239, 239, 239, 0.8);
  // backdrop-filter: blur(4px);
  // -webkit-backdrop-filter: blur(8px);
}

.nav-links-mobile {

  transition: 0.5s ease-out;
}

.nav-link-mobile {
  padding-bottom: var(--space-md);
}

.nav-link-mobile a:hover, .nav-link-mobile a:active, .nav-link-mobile a:focus {
  color: var(--color-yellow-main);
}

.toggle-nav-content {
  height: 14rem;
}
