<header>
  <!-- <div class="w-full py-1 px-2 fixed top-0 z-20 text-logo-white bg-logo-black flex flex-row justify-center items-center">
    <div class="w-full max-w-1440 flex flex-row justify-center gap-4 md:gap-8 items-center">
      <div><app-countdown></app-countdown></div>
      <div>
        <button class="btn-primary px-3 py-1">
          Register now
        </button>
      </div>
    </div>
  </div> -->

  <nav class="navbar fixed w-full z-20 py-3 px-4 text-logo-black flex-row items-center justify-center hidden sm:flex font-semibold">
   <div class="w-full max-w-1440 flex flex-row items-center justify-between">
     <a routerLink="/">
       <div class="nav-logo">
         <img src="/assets/images/logo/plk-galacticos-logo-square.png" alt="Powerlifting Klub Galacticos logo">
       </div>
     </a>
     <div class="flex flex-row justify-center items-center gap-12">
       <div class="flex flex-row justify-center items-center gap-6">
        <div class="nav-link"><a routerLink='/'>{{"nav.home" | translate}}</a></div>
        <!-- <div class="nav-link"><a routerLink='/blog'>Blog</a></div> -->
        <!-- <div class="nav-link"><a routerLink='/about'>About</a></div> -->
        <div class="nav-link"><a routerLink='/members'>{{"nav.members" | translate}}</a></div>
       </div>
       <div class="flex flex-row justify-center items-center gap-4">
          <a href="https://www.instagram.com/plk.galacticos/" target="_blank"><img class="icon icon--lg" src="/assets/images/icons/ig-logo-black.svg" alt="INSTAGRAM"></a>
          <a href="https://www.tiktok.com/@plk.galacticos" target="_blank"><img class="icon icon--lg" src="/assets/images/icons/tt-logo-black.svg" alt="TIKTOK"></a>
          <a href="https://www.youtube.com/@PLKGalacticos" target="_blank"><img class="icon icon--lg" src="/assets/images/icons/yt-logo-black.svg" alt="YOUTUBE"></a>
       </div>

      <select aria-label="Language select" name="lang" id="lang" formControlName="siteLanguage" (change)="changeSiteLanguage($event)"
        class="bg-transparent border-transparent focus:border-transparent focus:ring-0 focus:outline-none cursor-pointer">
        <option [selected]="siteLanguage.value == 'hr'" value="hr">HR</option>
        <option [selected]="siteLanguage.value == 'en'" value="en">EN</option>
      </select>
     </div>
   </div>
  </nav>

  <nav class="navbar-mobile fixed w-full z-20 p-2 flex-row items-center justify-evenly flex sm:hidden">
    <a routerLink="/">
      <div class="nav-logo">
        <img src="/assets/images/logo/plk-galacticos-logo-square.png" alt="Powerlifting Klub Galacticos logo">
      </div>
    </a>

    <div class="flex flex-col justify-center items-center fixed w-full top-[0.4rem] z-10 mt-12 h-0 overflow-hidden bg-logo-purple text-white nav-links-mobile">
      <div class="nav-link-mobile" (click)="navSlide()"><a routerLink='/'>{{"nav.home" | translate}}</a></div>
      <!-- <div class="nav-link-mobile" (click)="navSlide()"><a routerLink='/blog'>Blog</a></div> -->
      <!-- <div class="nav-link-mobile" (click)="navSlide()"><a routerLink='/about'>About</a></div> -->
      <div class="nav-link-mobile" (click)="navSlide()"><a routerLink='/members'>{{"nav.members" | translate}}</a></div>
    </div>


    <select name="lang" id="lang" formControlName="siteLanguage" (change)="changeSiteLanguage($event)"
      class="bg-transparent text-logo-purple border-transparent focus:border-transparent focus:ring-0 focus:outline-none absolute left-4 cursor-pointer">
      <option [selected]="siteLanguage.value == 'hr'" value="hr">HR</option>
      <option [selected]="siteLanguage.value == 'en'" value="en">EN</option>
    </select>
    <div class="burger" (click)="navSlide()">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</header>
