@import '../../../../assets/styles/animations.scss';
@import '../../../../assets/styles/layout.scss';

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  z-index: -1;
}

.particles-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 100vh;

  background-color: #ddd;
  overflow: hidden;
}

.hero {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  width: 60%;
  height: auto;
  animation-delay: 0.5s;
}

.hero-text {
  animation-delay: 0.5s;
}

.hero-button {
  animation-delay: 0.5s;
}

@media only screen and (max-width: 768px) {
  .hero-logo {
    width: 95%;
    height: auto;
    animation-delay: 0.5s;
  }
}
